# Express API Gateway Settings
PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/fraud_detection
JWT_SECRET=super_secret_fraud_shield_key
APP_URL=http://localhost:5173

# ML Microservice URL
ML_SERVICE_URL=http://127.0.0.1:8000/predict

# Telegram Alert Integration
# Create a bot using BotFather and get your chat ID using @userinfobot
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id
